
/* design system */
:root {
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --Tertiary-color: #99E2D0;
    --bg-grey-1: #f6f6f6;
    --bg-grey-2: #EAEAEA;
    --ft-grey-3: #353535;
    --elt-grey-4: #7E7E7E;
    --green: #99E2D0;
    --green-font: #008766;


}

h1, h2, h3, h4, p, body {
    margin: 0;
  }

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.125rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit; /* Utilise la couleur du texte parent */
}

// J'empêche ici l'affichage par défaut du navigateur
input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // -ms-appearance: none;
}



// Je créé une mixin ici pour la carte menu

@mixin menu-card{
    width: 93%;
    gap:12px;
    display: flex;
    flex-direction: column;      
    &__card {
        width:100%;
        border-radius: 15px;
        background-color: white;
        padding: 15px;
        height: 72px;
        box-sizing: border-box;
        // Sans box-sizing, on aurait height à 42px
        box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px rgba(0, 0, 0, 0.10);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__text{            
            width: 88%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            // on force ici le texte à rester sur une seule ligne
            white-space: nowrap;
            
            h2 {
                font-weight: 500;
            }
            p {
                font-size: 15px;    
            }
        }
        &__price{
            font-weight: bold;
            display: flex;
            flex-direction: column-reverse;
            font-weight: 500;
        }
    }
}
