/* design system */
:root {
  --primary-color: #9356DC;
  --secondary-color: #FF79DA;
  --Tertiary-color: #99E2D0;
  --bg-grey-1: #f6f6f6;
  --bg-grey-2: #EAEAEA;
  --ft-grey-3: #353535;
  --elt-grey-4: #7E7E7E;
  --green: #99E2D0;
  --green-font: #008766;
}

h1, h2, h3, h4, p, body {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit; /* Utilise la couleur du texte parent */
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.main-wrapper {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.headerwrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.headerwrapper__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 63px;
  gap: 42px;
}
.headerwrapper__logo img {
  /* je fixe la largeur, j'aurais pu fixer la hauteur */
  width: 197px;
}
.headerwrapper__location {
  display: flex;
  background-color: var(--bg-grey-2);
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 17px;
  padding-left: 40px;
}
.headerwrapper__location .location-lookfor {
  background-color: transparent;
  border: none;
  font-family: "Roboto";
  color: var(--ft-grey-3);
  font-size: 1rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

main img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}

.restaurant-exploration {
  width: 100%;
  height: 287px;
  background-color: var(--bg-grey-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.restaurant-exploration__title {
  width: 275px;
  height: 68px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  margin-top: 39px;
  margin-left: 12%;
  margin-right: 15.4%;
  margin-bottom: 0px;
}
@media (min-width: 1440px) {
  .restaurant-exploration__title {
    width: 645px;
    height: 47px;
  }
}
.restaurant-exploration__subtitle {
  width: 315px;
  height: 46px;
  margin-left: 9%;
  margin-right: 7%;
  text-align: center;
}
.restaurant-exploration__subtitle h2 {
  font-weight: lighter;
}
@media (min-width: 1024px) {
  .restaurant-exploration__subtitle {
    width: 531px;
  }
}
.restaurant-exploration__btn {
  border-radius: 25px;
  width: 218px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(175deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  color: white;
  margin-top: 27px;
  margin-left: 1%;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-out, background-color 0.3s ease-out;
}
.restaurant-exploration__btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.operation {
  height: 440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-sizing: border-box;
}
@media (min-width: 1440px) {
  .operation {
    justify-content: center;
    height: 229px;
  }
}
.operation__main-container {
  box-sizing: border-box;
  width: 375px;
  padding: 48px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 1440px) {
  .operation__main-container {
    width: 100%;
    padding: 50px 180px;
  }
}
.operation__main-container h1 {
  margin-bottom: 26px;
}
@media (min-width: 1440px) {
  .operation__main-container__container {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
.operation__main-container__container__element {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 25px;
  width: 322px;
  height: 72px;
  background-color: var(--bg-grey-1);
  box-sizing: border-box;
  padding-top: 28.59px;
  padding-bottom: 28.12px;
  margin-bottom: 24.94px;
}
.operation__main-container__container__element i {
  color: var(--elt-grey-4);
  margin-right: 27px;
  margin-left: 21.98px;
}
.operation__main-container__container__element #purple {
  color: #9356DC;
}
.operation__main-container__container__element__circle {
  border-radius: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -12px;
}

.restaurants-visualisation {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 48px 17px;
  background-color: var(--bg-grey-1);
  align-items: center;
  margin-left: auto;
}
.restaurants-visualisation__main-container h1 {
  margin-top: 6px;
  margin-left: 3px;
}
.restaurants-visualisation__main-container__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .restaurants-visualisation__main-container__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 100px;
  }
}
.restaurants-visualisation__main-container__container__card {
  margin-top: 18px;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 346px;
  height: 308px;
  position: relative;
}
.restaurants-visualisation__main-container__container__card i {
  position: absolute;
  bottom: 33px;
  right: 25px;
  font-size: 22px;
}
.restaurants-visualisation__main-container__container__card .full {
  background-image: linear-gradient(175deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: hidden;
}
.restaurants-visualisation__main-container__container__card .empty {
  visibility: visible;
}
.restaurants-visualisation__main-container__container__card #activation1:checked ~ label .empty {
  visibility: hidden;
}
.restaurants-visualisation__main-container__container__card #activation1:checked ~ label .full {
  visibility: visible;
}
.restaurants-visualisation__main-container__container__card #activation2:checked ~ label .empty {
  visibility: hidden;
}
.restaurants-visualisation__main-container__container__card #activation2:checked ~ label .full {
  visibility: visible;
}
.restaurants-visualisation__main-container__container__card #activation3:checked ~ label .empty {
  visibility: hidden;
}
.restaurants-visualisation__main-container__container__card #activation3:checked ~ label .full {
  visibility: visible;
}
.restaurants-visualisation__main-container__container__card #activation4:checked ~ label .empty {
  visibility: hidden;
}
.restaurants-visualisation__main-container__container__card #activation4:checked ~ label .full {
  visibility: visible;
}
@media (min-width: 1440px) {
  .restaurants-visualisation__main-container__container__card {
    width: 490px;
  }
}
.restaurants-visualisation__main-container__container__card img {
  width: 100%;
  height: 231px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  margin-bottom: 16px;
}
.restaurants-visualisation__main-container__container__card h2 {
  margin-bottom: 5px;
}
.restaurants-visualisation__main-container__container__card h2, .restaurants-visualisation__main-container__container__card p {
  margin-left: 13px;
}
.restaurants-visualisation__main-container__container__card__info {
  position: absolute;
  border-radius: 2px;
  background-color: var(--green);
  font-weight: bold;
  color: var(--green-font);
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 12px;
  right: 12px;
}

footer {
  width: 375px;
  height: 186px;
  background-color: var(--ft-grey-3);
  box-sizing: border-box;
  padding: 22px 25px;
  color: white;
}
@media (min-width: 1440px) {
  footer {
    display: flex;
    align-items: end;
    justify-content: flex-end;
  }
}
footer h2 {
  font-family: shrinkand;
  font-style: italic;
  margin-bottom: 16px;
}
@media (min-width: 1440px) {
  footer {
    width: 100%;
    padding: 30px 25px;
  }
}
@media (min-width: 1440px) {
  footer .container-footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
  }
}
footer .container-footer__footer-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1440px) {
  footer .container-footer__footer-content {
    flex-direction: row;
  }
}
footer .container-footer__footer-content__alignment {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
footer .container-footer__footer-content__alignment i {
  margin-right: 10px;
}

.menu {
  width: 100%;
  position: relative;
  top: -50px;
  background-color: var(--bg-grey-1);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.menu__title {
  width: 93%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 32px;
  position: relative;
}
.menu h1 {
  font-style: italic;
  font-size: 1.75rem;
}
.menu i {
  position: absolute;
  right: 15px;
  font-size: 22px;
}
.menu .full {
  background-image: linear-gradient(175deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: hidden;
}
.menu .empty {
  visibility: visible;
}
.menu #activation1:checked ~ label .empty {
  visibility: hidden;
}
.menu #activation1:checked ~ label .full {
  visibility: visible;
}
.menu__dishes {
  width: 93%;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.menu__dishes__card {
  width: 100%;
  border-radius: 15px;
  background-color: white;
  padding: 15px;
  height: 72px;
  box-sizing: border-box;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__dishes__card__text {
  width: 88%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.menu__dishes__card__text h2 {
  font-weight: 500;
}
.menu__dishes__card__text p {
  font-size: 15px;
}
.menu__dishes__card__price {
  font-weight: bold;
  display: flex;
  flex-direction: column-reverse;
  font-weight: 500;
}
.menu h3 {
  position: relative;
  font-weight: 300;
}
.menu h3::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: var(--green);
}

/*# sourceMappingURL=style.css.map */
